.content{
	padding: 100rpx;
	.title{
		font-size: 42rpx;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 500;
		color: #FFFFFF;
		line-height: 48rpx;
	}
}
::v-deep .u-form-item__body__right__message {
		position: absolute;
		bottom: -20rpx;
		left: 0;
		margin-left: 0 !important;
	}